
 <!-- ( D ) Footer -->
<div style="background-color:white">
 
        <a href="#" class="pull-left">JOHN DOE</a>
        <p class="pull-right">
            Copyright © 2015 All right reserved
        </p>
    </div>
